/*Updated default CSS */

/* #################   List of fonts #################*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Muli:900|Source+Sans+Pro:900&display=swap');

@import url(https://fonts.googleapis.com/css?family=Roboto);

@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');


/* #################   List of fonts #################*/

.hide {
  display: none;
}

.test {
  color: red;
  border: solid 1px red;
}

.no-padding {
  padding: 0px !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, footer, header, nav, main, section, summary, details, hgroup, figure, figcaption {
  display: block;
}

.container {
  margin-top: 50px !important;
}


.row {
  padding-top: 2rem !important;
}

#sosci-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  margin: 0;
  width: 100%;
  height: 50px;
  max-height: 50px;
  background-color: #24292e;
  color: hsla(0,0%,100%,.7);
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (max-width: 767px) {
  #sosci-nav .content {
      padding: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
  }
}

@media only screen and (max-width: 767px) {
  #sosci-nav .header {
      display: block;
  }
}

 .header {
   display: none;
   position: absolute;
   z-index: 5;
   top: 0;
   left: 0;
   width: 100%;
   height: 50px;
   overflow: hidden;
}


#sosci-nav .content {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 22px;
  position: relative;
  z-index: 2;
  padding-left: calc(22px + constant(safe-area-inset-left));
  padding-right: calc(22px + constant(safe-area-inset-right));
}

@media only screen and (max-width: 767px) {
  #sosci-nav .content {
      padding: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
  }
}

#sosci-nav .sosci-logo-m {
  position: absolute;
  width: 55px;
  top: 0;
  left: 50%;
  margin-left: -24px;
  text-align: center;
  z-index: 1;
}

#sosci-nav .menuicon {
  left: 0;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 48px;
  border-bottom: none;
}

#sosci-nav .menuicon-logo {
  left: 0;
  position: absolute;
  z-index: 2;
  top: 0;
  min-width: 100%;
  border-bottom: none;
}

#sosci-nav .ac-gn-header .sosci-logo-m {
  position: absolute;
  width: 48px;
  top: 0;
  left: 50%;
  margin-left: -24px;
  text-align: center;
  z-index: 1;
}

.navbar-toggler {
  height: 50px !important;
}

#sosci-nav .list {
  cursor: default;
  margin: 0 -10px;
  width: auto;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (max-width: 767px) {
  #sosci-nav .list {
      display: block;
      position: absolute;
      z-index: 1;
      top: 3.52941em;
      right: 0;
      bottom: 0;
      left: 0;
      max-width: 664px;
      margin: 0 auto;
      padding: 45px 40px 8px;
      height: auto;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      visibility: hidden;
      -webkit-transition: visibility 0s linear 1s;
      transition: visibility 0s linear 1s;
  }
}

#sosci .item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  height: 50px;
  z-index: 1;
  vertical-align: top;
}

#sosci-nav .nav-link {
  font-size: 14px;
  line-height: 3.571; /*3.14286*/
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #fff;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 10px;
  height: 50px;
  opacity: 1;
  background: no-repeat;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-tap-highlight-color: transparent;
  outline-offset: -7px;
}

#sosci-nav .nav-link-m {
  font-size: 14px;
  line-height: 3.14286;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #fff;
  z-index: 1;
  display: inline-block;
  padding: 0 10px;
  height: 50px;
  opacity: 1;
  background: no-repeat;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-tap-highlight-color: transparent;
  outline-offset: -7px;
}

#sosci-nav ul {
  list-style: none;
}

#sosci-nav {
  padding: 0px;
}

#sosci-nav .fa-bars{
  color: #fff;;
}

.navbar-toggler .fa-bars {
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-hero-m {
  text-align: center
}

.nav-hero-logo-m {
  display: inline-block
}

.section-content {
  margin-left: auto;
  margin-right: auto;
}

#main .section-content {
  width: 980px;
}

.box-part{
  background: #FFF;
  border-radius: 0;
  margin: 10px 0px;
}

.border {
  border: 1px solid #e1e4e8!important;
}

#course-list .border {
  margin-bottom: 20px;
}

.box-part>.fas, .box-part>.far {
  font-size: 40px;
  color: #ec407a ;
  margin-bottom: 18px;
}

.title {
  font-family: arial;
  font-weight: 600;
  font-size: 16px;
}

#course-list a, #course-list a:hover {
  text-decoration: none !important;
}

.p-3 {
  font-family: Helvetica;
}

.credit-hours-course {
  margin: 5px 0px 38px 0px;
  font-size: 16px;
}

.description-detail p {
  line-height: 1.2;
  font-size: 16px;
}

.subheading {
  font-size: 18px;
  font-weight: bold;
  margin: 3px 0px 10px 0px;
}

.title-details {
  font-size: 25px !important;
}

#course-list .line-clamp{
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.credit-hours {
  color: #0366d6;
  font-family: Helvetica;
  font-size: 14px;
}

#course-list .text{
  width: 316px;
}

#course-list .title, #course-list .text {
  color: #212529;
}

#enroll .title {
  font-family: arial;
  font-weight: 600;
  font-size: 25px;
}

.text {
  font-family: Helvetica;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 25px;
  
}

#enroll .description {
  font-family: Helvetica;
  font-size: 16px;
  padding-top: 8px;
  color: #808080;
  
}

.enroll-btn {
  background: 0 0;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  border-radius: 5px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.enroll-btn {
  color: #fff;
  background: #f05c8d;
  cursor: pointer;
}

.enroll-btn-text {
  font-size: 16px;
  font-weight: 600;
  font-family: Helvetica;
}

.enroll-btn-icon {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  padding: 1rem 1.0625rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.enroll-btn-icon i {
  height: 32px;
  width: 32px;
  margin: 0 auto;
  fill: #fff;
  max-width: 32px;
  font-size: 27px;
}

.enroll-btn-text-wrap {
  -webkit-box-flex: 5.2;
  -webkit-flex: 5.2 0 0;
  -ms-flex: 5.2 0 0px;
  flex: 5.2 0 0;
  padding: 1.825rem 1.0625rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.enroll-btn-icon {
  background: rgba(255,255,255,0.14051322372924);
  color: #fff;
}

.course-list {
  background: #F7F7F7;
  font-family: Helvetica;
}

.course-list tr {
  border-bottom: 1px solid #F0F0F0;
}

.course-list td {
   line-height: 1.3;
}

.course-list-count {
  color: #808080;
}

.course-list-count {
  min-width: 2.5rem;
  text-align: center;
  padding: 1.4375rem 0;
}

.course-list-title {
  max-width: 200px;
  color: #f05c8d;
}

.course-list {
  width: 100%;
  font-size: .9375rem;
  counter-reset: episode-count;
}



.course-list-duration {
  color: #808080;
  padding: .625rem;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .course-detail .p-3 {
    padding-top: 0px !important;
  }
}

@media only screen and (max-width: 600px) {
  .course-detail .box-part {
    margin: 0px !important;
  }
}


@media only screen and (max-width: 767px) {
  .column {
      padding: 15px 15px 15px 15px !important;
  }
}

.video-thumbnail {
   margin-right: 8px;
   height: 94px;
   width: 168px; 
}

/*
.video-player {
 max-width: 1360px;
}*/



@media only screen and (max-width: 600px) {
  #video {
      padding: 0px !important;
  }
}

#video .container {
  max-width: 1700px;
  margin: auto;
}


@media only screen and (max-width: 600px) {
  #video .container {
      padding: 0px !important;
  }
}

.watch-next {
  display: block;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--yt-spec-10-percent-layer);
  margin-bottom: 16px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.primary-video-info {
  display: block;
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 0 20px 0;
  margin-top: 25px;
  margin-bottom: 25px;
}

.primary-video-info-title {
  display: block;
  overflow: hidden;
  font-size: 20px !important;
  line-height: 1 !important;
  color: red;
  font-family: 'Fira Sans', arial, sans-serif;
  padding: 20px 20px 20px 20px;
  font-weight: bold;
  color: #0d0d0d;
}


@media only screen and (max-width: 600px) {
  .primary-video-info-title {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.video-series {
  background-color: #f6f6f6;
}

.watch-next-title {
  font-size: 16px;
  font-family: Helvetica;
  line-height: 1.1428;
  color: #0a0a0a;
  font-weight: bold;
  margin-bottom: 4px;
  padding: 18px 30px 18px 30px;
  border-bottom: solid 2px rgb(255, 255, 255);
}


@media only screen and (max-width: 600px) {
  .watch-next-title {
    padding-left: 7px;
    padding-right: 7px;
  }
}

.instructor, .duration {
  font-size: 14px;
  font-family: Helvetica;
  line-height: 1.1428;
  color: #606060;
}

.instructor {
  margin-top: 4px;
}

@media only screen and (max-width: 600px) {
  .secondary {
    padding-top: 20px;
  }
}

.modal-box {
  background-color: rgb(255, 255, 255) !important;
  max-width: 568px !important;
  width: 100% !important;
  position: relative !important;
  margin: auto !important;
}

.modal {
  top: 64px !important;
  font-family: Helvetica !important;
  font-size: 15px !important;
}

@media only screen and (max-width: 600px) {
  .modal {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

#save-btn {
  padding-left: 15px;
  padding-right: 15px;
}

#save-btn .btn{
  padding: 10px 22px 10px 22px;
  border-radius: 2px;
  margin-bottom: 16px;
}

.form-control {
  border-radius: 0px !important;
  padding: 11px !important;
  height: 46px !important;
}

.input-select_select, #login-form .btn {
  margin-bottom: 16px;
}

#login-form .form-control {
  font-size: 15px;
}

#login-form .custom-control-label {
  line-height: 1.6
}

#login-form .password {
  line-height: 1.6;
  right: 0;
}

#login-form .password {
  background-color: transparent !important;
  border: 0 none;
  color: #008489 ;
}

.password:hover {
  color: #008489 !important;
  text-decoration: underline !important;
}

.signup-today > a {
  color: #008489 !important;
}

.option-box {
  margin-bottom: 16px;
}

#registration-form > div {
  margin-bottom: 16px;
}

.modal-header, .modal-content, .modal-footer {
  border-radius: 0px !important;
  border: 0px !important;
}

#registration-form .btn:hover, #login-form .btn:hover {
  color: #ffffff;
}

#registration-form .btn, #login-form .btn {
  font-weight: 600;
}

/* video player below */

.video-thumbnail {
   margin-right: 8px;
   height: 94px;
   width: 168px; 
}

.video-page-wrap {
  background-color: #ffffff; 
}

.video-page {
  /*padding-top: 50px;*/
  max-width: 1700px;
}

.watch-hub .container {
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.watch-hub {
  max-width: 100%;
  margin: auto;
}

@media only screen and (max-width: 650px) {
.watch-hub {
    .padding-top: 0.5rem;
  }
}

.#video .container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.watch-next-title {
  font-size: 14px;
  font-family: Helvetica;
  line-height: 1.1428;
  color: #0a0a0a;
  font-weight: bold;
  margin-bottom: 4px;
}

.watch-next-title .fa-play-circle {
  font-size: 16px;
  color: red;
  margin-right: 9px;
}

.instructor, .duration {
  font-size: 14px;
  font-family: Helvetica;
  line-height: 1.1428;
  color: #606060;
  margin-bottom: 2px;
}

@media only screen and (max-width: 600px) {
  .secondary {
    padding-top: 20px;
  }
}

.playlist-holder {
  position: relative;
  min-width: 366px;
  height: 100%;
}

.video-playlist {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;
}

.playlist-title {
  color: #ffffff;
  border-bottom: 1px solid #252525;
  text-transform: uppercase;
}

.hed-xs {
  font-size: 12px;
  font-size: .75rem;
  font-family: Helvetica;
  font-weight: 600;
  line-height: 1.2;
}

.video-playlist-rows {
  height: calc(100% - ((12px * 1.2) + 11px));
  overflow-y: scroll;
}

.video-playlist-row {
  border-bottom: 1px solid #252525;
}

.video-playlist-row {
  cursor: pointer;
  border-bottom: 1px solid #909090;
  list-style-type: none;
}

.image-container {
  width: 120px;
}

.image-container img {
  width: 120px;
  height: 67.38px;
}

.image-container {
  position: relative;
}

.watch-hub .video-playlist-rows::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  border-left: 1px solid #252525;
  border-right: 1px solid #252525;
}

.pb-2a {
  padding-bottom: 10px;
}

.pt-2a {
  padding-top: 10px;
}

img, picture {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

.play-duration-wrapper {
  position: absolute;
  bottom: 0;
  background-color: #000000;
}

.play-duration-wrapper {
  padding: 5px 10px 5px 10px;
}

.play-duration {
  color: #ffffff;
  background-color: #000000;
}

.video-assets .far, .video-assets .fas {
  font-size: 20px;
  line-height: 1;
  padding: 8px;
}

.video-assets h6 {
  font-size: 16px;
  line-height: 1;
  padding: 10px 0px 10px 0px;
  font-family: Helvetica;
}

#video .list {
  cursor: default;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-padding {
  padding: 0px!important;
}

#video ul {
  display: block;
  list-style: none;
}

#video p,  #video h3 {
  overflow: hidden;
  width: 226px;
}

#video img {
  width: 168px;
  height: 94px
}

#video ul {
  padding: 25px 30px 10px 30px;
}

@media only screen and (max-width: 600px) {
  #video ul {
    padding-left: 7px;
    padding-right: 7px;
  }
}

#video li {
  display: inline-block;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
  vertical-align: top; 
  width: 100%;
  height: 100%;
}

#video .modules {
  align-items: flex-start;
  display: flex;
  width: 100%; 
  margin-bottom: 10px;
}

.module-number {
  font-size: 15px;
  line-height: 1.2;
  color: #606060;
  min-width: 1.5rem;
  font-family: Helvetica;
}

.modules-list {
  margin-bottom: 15px;
  border-top:;
  border-bottom: 1px dotted #b9c7d5;
}

.box-content {
  .margin-left: 8px;
}

.box-content instructor {
  margin-bottom: 3px;
}

.box-content a {
  font-family: Arial, sans-serif;
  color: #24292e;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}

.box-content p {
  font-family: Helvetica;
  color: #606060;
  font-size: 13px;
}

.modules .fa-check-circle {
  color: #4B515D;
  font-size: 1.4rem;
  line-height: 1;
}

.module-status {
  width: 0rem;
  text-align: center;
}

.module-status .fas {
  color: #ef9a9a;
}


.module-duration {
  width: 7rem;
  text-align: center;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 1.2;
}

.page-landing {
  margin: auto;
  padding: 2.5rem 2.9rem 2.5rem 2.9rem;
}

@media only screen and (max-width: 600px) {
  .page-landing {
    padding: 0rem 2.9rem 2.5rem 2.9rem;
  }
}

.heading-display {
  font-size: 7rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  line-height: 1;
  color: #1e1f20;
  margin-bottom: 32px;
}

@media only screen and (max-width: 600px) {
  .heading-display {
    font-size: 3rem;
  }
}

.page-landing h1 {
  letter-spacing: -.0375em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.page-landing span {
   color: #ec407a;
}

.text-large {
  line-height: 22px;
  font-size: 16px;
  font-weight: normal;
  color: #343a40;
}

.hero-message {
  margin-bottom: 2.5rem;
  font-family: 'Roboto', arial, sans-serif;
}

.text-input .text-input-wrapper input {
  font-size: 14px;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 400;
  border-radius: 0;
  padding: 8px 18px 8px 18px;
  height: 44px;
  margin-bottom: 0;
  border: 1px solid #b9c7d5 !important;
}

.text-input-wrapper input {
  width: 100%;
}

.login-text-input {
  margin-top: 10px;
  margin-bottom: 20px;
}

.get-started input {
  width: 350px;
  border-color: #1e1f20;
}

.get-started button {
  width: 50px;
  color: #ffff;
  background-color: #1e1f20;
  border-color: #1e1f20;
  border-style: none;
}

.sign-in-hero {
  font-size: 1.6rem;
  line-height: 1.5rem;
  font-family: arial, sans-serif;
  letter-spacing: -.03125rem;
  font-weight: bold;
  color: #1e1f20;
  margin-bottom: 2rem;
}

.sign-in-form {
  padding: 2.5rem 2.9rem 2.5rem 2.9rem;
  margin-bottom: auto;
}

.text-input-wrapper label {
  line-height: 22px;
  font-size: 16px;
  font-weight: normal;
  color: #1e1f20;
  font-family: 'Roboto', arial, sans-serif;
  margin-bottom: 5px;
}

.sign-in-btn {
  margin-top: 2.5rem;
}

.sign-in-btn button {
  width: 100%;
  height: 44px;
  color: #ffff;
  background-color: #ec407a;
  border-color: #ec407a;
  border-style: none;
}

.sign-in-btn button {
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 300;
}

.terms {
  margin-top: 20px;
  color:#1e1f20;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.5;
} 

button > i, span {
  color: #ffffff !important;
}
