{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">



  <title>{% block page_title %}{{ _("SOSCI") }}{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block meta %}
  {% endblock meta %}
  



  {# Block where global CSS will go. #}
  
  {% block styles %}


  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'css/fontawesome/all.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css"/>


  {% endblock styles %}

  {# Additional CSS - specific to certain pages #}
  {% block extrastyles %}{% endblock extrastyles %}
  

  {% block extrahead %} {% endblock extrahead %}


   {# Local scripts #}
  

</head>
<body id="{% block body_id %}default{% endblock %}" class="{% block body_class %}default{% endblock %}" style="background-color: rgb(233, 233, 233);" >

    {% block navbar %}

{% if request.user.is_authenticated and request.user.is_staff %}
<nav id="sosci-nav" class="navbar navbar-expand-md">
  <div class="content">
    <div class="header">
      <div class="d-flex flex-row">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i class="fas fa-bars"></i>
          </span>
        </button>
        <a class="sosci-logo-m nav-link-m" href="{% url 'index' %}">Sosci Admin</a>
      </div>
    </div>
    <div class="" id="navbarSupportedContent">
      <ul class="list">
        <li class="item"><a class="nav-link" href="{% url 'index' %}">Sosci Admin</a></li>
        <li class="item"><a class="nav-link" href="{% url 'index' %}">Courses</a></li>
        <li class="item"><a class="nav-link" href="{% url 'course:course-create-form' %}">Create Course</a></li>
        <li class="item"><a class="nav-link">Instructors</a></li>
        <li class="item"><a class="nav-link">Partners</a></li>
      
        <li class="item"><a class="nav-link" >Enroll</a></li>
        <li class="item"><a class="nav-link">Log In</a></li>
      </ul>
    </div>
  </div>
</nav>
{% else %}

<nav id="sosci-nav" class="navbar navbar-expand-md">
  <div class="content">
    <div class="header">
      <div class="d-flex flex-row">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i class="fas fa-bars"></i>
          </span>
        </button>
        <a class="sosci-logo-m nav-link-m" href="{% url 'index' %}">Sosci</a>
      </div>
    </div>
    <div class="" id="navbarSupportedContent">
      <ul class="list">
        <li class="item"><a class="nav-link" href="{% url 'index' %}">Sosci</a></li>
        <li class="item"><a class="nav-link" href="{% url 'course:course-list' %}">CPD Courses</a></li>
        <li class="item"><a class="nav-link" >Certificate Programs</a></li>
        <li class="item"><a class="nav-link">SME School</a></li>
        <li class="item"><a class="nav-link">Help</a></li>
      
        <li class="item"><a class="nav-link" >My Courses</a></li>
        <li class="item"><a class="nav-link">My Account</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endif %}
    {% endblock navbar %}

<main id="video" role="main" class="mt-5 pt-4">
  <div class="container no-padding">
          {% include "partials/alert_messages.html" %}
          {% block content %}{% endblock content %}
  </div>

</main>


  <footer>
    {% block footer %}
    <div class="container-fluid no-padding">

    </div>
    {% endblock footer %}
  </footer>


  <!-- JavaScript at the bottom for fast page loading -->
  {% block cdn_scripts %}
  {% endblock cdn_scripts %}


  <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>

  <script src="{% static 'js/bootstrap.js' %}"></script>



  {% block scripts %}
  {% endblock scripts %}

  {# Additional JS scripts #}

  {% block extrascripts %}

  {% endblock extrascripts %}

</body>
</html>