<form id="payment-form" action="{% url 'checkout:payment-details' view.kwargs.course_id %}" method="post" id="payment-form">
	{% csrf_token %}
	<input type="hidden" id="publisher_name" value="pnpdemo">
	<input type="hidden" id="mode" value="auth">
	<input type="hidden" id="convert" value="underscores">
	<input type="hidden" id="response" >

	<div class="hide">
		<label for="card_amount">Amount</label>
		<input type="text" id="card_amount">
	</div>

	<div class="text-input-wrapper">
		<label class="pnp-card-name text-input-wrapper" for="card_name">Name on card</label> 
		<div>
			<input type="text" id="card_name" value="John Doe" class="form-control text-input-input">
		</div>
	</div>

	
	<div class="text-input-wrapper">
		<label class="pnp-card-number" for="card_number">Card Number</label>
		<div>
			<input type="text" placeholder="4111111111111111" value="4111111111111111" id="card_number" class="form-control text-input-input">
		</div>
	</div>
	

	<div class="card-security d-flex">
		<div class="col-lg-6 col-md-6 col-sm-6 text-input-wrapper card-security-l">
			<label class="pnp-card-exp" for="card_exp">Exp Date</label> 
			<div>
				<input type="text" id="card_exp" placeholder="MM/YY" value="10/20" class="form-control text-input-input">
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 text-input-wrapper card-security-r">
			<label class="pnp-card-cvv" for="card_cvv">CVV</label> 
			<div>
				<input type="text" id="card_cvv" value="123" class="form-control text-input-input">
			</div>
		</div>
	</div>
	<div class="form-group text-right">
		<input type="button" value="Confirm & Pay" id="btn-submit-payment" class="btn">
	</div>
</form>