{% extends "base_plugnpay.html" %} 
{% load static %} 
{% load currency_filters %}
{% load purchase_info_tags %}

{% block extrahead %}
{{ block.super }}
<script>
   function submit_payment(){
  payment_api.send();
 }
$(document).ready(function() {
 payment_api.setCallback(function(data) { 
    console.log(data);
   // 'data' is the querystring returned by the payment request.  
   // Perform any response handling you would like to do here.  
   // For example, such as putting the value of data into a field and calling submit on the form.  
   
   })
  $("#btn-submit-payment").click(submit_payment); 
 });


</script>
{% endblock %}

{% block content %}
<div id="checkout">
  <div class="container no-padding">
    <div class="row ">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 px-0">
        <div class="payment-container">
          <div class="cc-header d-flex">
            <div class="payment-title">Payment Method</div>
            <div class="card-image">
              <img src="{% static 'img/visa.png' %}" />
              <img src="{% static 'img/mastercard.png' %}"/>
            </div>
          </div>

          <div class="text">
            <p class="line-clamp overflow-visible">Fill in all the fields below to create a course. and you're finshed, click the submit button to make your course available for enrollment by your participants.</p>
          </div>
          <div>
            <div>
              {% purchase_info_for_product request product as session %}
              {% include "payment/partials/plugnpay_form.html" %}
            </div>
          </div>
        </div>
      </div> 

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 px-0">
        <div class="payment-container">
          <div class="payment-panel">
            <div class="payment-header">
              <h3>{{product.get_title}}</h3>
            </div>
            <div class="payment-panel-body">
              <div class="subtotal d-flex">
                <div class="subtotal-title col-lg-6 col-md-6 col-sm-6 no-padding">Course subtotal</div>
                <div class="amount col-lg-6 col-md-6 col-sm-6 no-padding">{{ session.price.excl_tax|currency:session.price.currency }}</div>
              </div>
              <div class="subtax d-flex">
                <div class="subtax-title col-lg-6 col-md-6 col-sm-6 no-padding">Applicable Taxes</div>
                <div class="amount col-lg-6 col-md-6 col-sm-6 no-padding">{{ session.price.incl_tax|currency:session.price.currency }}</div>
              </div>
              <div class="due-amount d-flex">
                <div class="total-title col-lg-6 col-md-6 col-sm-6 no-padding">Amount Due</div>
                <div class="amount col-lg-6 col-md-6 col-sm-6 no-padding">{{ session.price.incl_tax|currency:session.price.currency }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
