{% extends "base.html" %} 
{% load static %} 
{% load currency_filters %}
{% load purchase_info_tags %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
<script src="https://pay1.plugnpay.com/api/iframe/P3Tm8BYjgA/client/"></script>
{% endblock extrahead %}

{% block content %}
{% purchase_info_for_product request product as session %}
<div id="checkout">
  <div class="container no-padding">
    <div class="row ">

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box-container">
        <div class="payment-container">
          <div class="cc-header d-flex">
            <div class="payment-title">Payment Method</div>
            <div class="card-image">
              <img src="{% static 'img/visa.png' %}" />
              <img src="{% static 'img/mastercard.png' %}"/>
            </div>
          </div>
          <div class="text">
            <p class="line-clamp overflow-visible">Fill in all the fields below, and when you're finshed, click the "Confirm & Pay" button to process your Debit or Credit card.</p>
          </div>
        </div>
        <div class="payment-container pay-option">
          <ul class="nav nav-pills nav-fill"  id="pills-tab" role="tablist">
            <li class="nav-item pay-option-card">
              <a class="nav-link active icon-line-height d-flex" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                <i class="material-icons">payment</i>
                <span>Credit/Debit </span>
              </a>
            </li>
            <li class="nav-item pay-option-transfer">
              <a class="nav-link d-flex icon-line-height" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                <i class="material-icons">local_atm</i>
                <span>Bank Transfer</span>
              </a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              {% include "payment/partials/plugnpay_form.html" %}
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="instructions-header">
                <p><b>Transfer Instructions:  </b>Enter the information below as a beneficiary in your online banking account. Once completed, you can make direct payments for any of our courses.</p>
              </div>  
              <div class="bank-transfer-instructions">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td>Account / Beneficiary Name</td>
                      <td>Nesberry Technologies Limited</td>
                    </tr>
                    <tr>
                      <td>Account Number</td>
                      <td>1002270222</td>
                    </tr>
                    <tr>
                      <td>Bank</td>
                      <td>CIBC FirstCaribbean</td>
                    </tr>
                    <tr>
                      <td>Branch</td>
                      <td>1 King Street, Kingston</td>
                    </tr>
                     <tr>
                      <td>Account Type</td>
                      <td>Chequing</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div> 

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box-container">
        <div class="payment-container">
          <div class="payment-panel">
            <div class="payment-header">
              <h3>{{product.get_title}}</h3>
            </div>
            <div class="payment-panel-body">
              <div class="subtotal d-flex">
                <div class="subtotal-title col-lg-6 col-md-6 col-sm-6 no-padding">Course subtotal</div>
                <div class="amount col-lg-6 col-md-6 col-sm-6 no-padding">{{ session.price.excl_tax|currency:session.price.currency }}</div>
              </div>
              <div class="subtax d-flex">
                <div class="subtax-title col-lg-6 col-md-6 col-sm-6 no-padding">Applicable Taxes</div>
                <div class="amount col-lg-6 col-md-6 col-sm-6 no-padding">{{ session.price.incl_tax|currency:session.price.currency }}</div>
              </div>
              <div class="due-amount d-flex">
                <div class="total-title col-lg-6 col-md-6 col-sm-6 no-padding">Amount Due</div>
                <div class="amount col-lg-6 col-md-6 col-sm-6 no-padding">{{ session.price.incl_tax|currency:session.price.currency }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
 <script src="{% static 'js/bootstrap.js' %}"></script>
{% endblock %}

{% block extrascripts %}
{{ block.super }}
<script>
   function submit_payment(){
  
  //payment_api.send();

  $('#payment-form').submit();
 }

$(document).ready(function() {

 payment_api.setCallback(function(data) { 
    console.log(data);
   // 'data' is the querystring returned by the payment request.  
   // Perform any response handling you would like to do here.  
   // For example, such as putting the value of data into a field and calling submit on the form.  
   
   });

 });

  $("#btn-submit-payment").click(submit_payment);
</script>
{% endblock extrascripts %} 
