{% extends "base.html" %}
{% load currency_filters %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div id='payment-confirmation'>
   <div class='container no-padding'>
        <div class="row ">

            <div class="cc-header d-flex">
                <i class="fas fa-check-circle"></i>
                <div class="">Order Confirmation</div>
            </div>
            <div class="text">
               <p class="line-clamp overflow-visible">Thanks for enrolling in the following course(s). You can click the <b>Start Live Stream</b> button to begin your class sessions, or you can continue viewing other courses by selecting the <b>Course Catalog</b> button.</p>
            </div>

            {% for line in order.lines.all %}
            <div class="basket-items">
               <div class="d-flex">

                  <div class="col-lg-1 col-md-1 col-sm-1 px-0 hide">
                     <div class="dot-ty">
                        <i class="fas fa-video"></i>
                     </div>
                  </div>

                  <div class="col-lg-9 col-md-9 col-sm-9 px-0">
                     <div>
                        <p class="hide">{% trans "Items purchased" %}</p>
                     </div>


                     <div class="description-ty">
                        <a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a>
                        <p>
                        {% if line.upc %}{{ line.upc }}<br/>{% endif %}
                        {% if line.est_dispatch_date %}
                            {% blocktrans with date=line.est_dispatch_date %}
                                Estimated dispatch: <strong>{{ date }}</strong>
                            {% endblocktrans %}
                        {% endif %}
                        </p>
                     </div>


                     <div class="quantity-ty d-flex">
                        <div>
                           <p class="align-center">{% trans "Quantity:" %}</p>
                        </div>
                        <div class="align-center">
                           {{ line.quantity }}
                        </div>
                     </div>

                  </div>


                  <div class="col-lg-3 col-md-3 col-sm-3 px-0">
                     <p class="hide">{% trans "Total" %}</p>
                     <div class="">
                        <p class="amount-ty">
                            {% if show_tax_separately %}
                                {{ line.line_price_before_discounts_excl_tax|currency:order.currency }}
                            {% else %}
                                {{ line.line_price_before_discounts_incl_tax|currency:order.currency }}
                            {% endif %}
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         {% endfor %}

         {% block basket_totals %}
            <div class="basket-summary">
                <div class="">
                    <div class="sub-header hide">
                        <h2>{% trans 'Totals' %}</h2>
                    </div>

                    <div id="basket_totals">
                        <table class="table table-condensed">
                            {% with discounts=order.basket_discounts %}
                                {% block discount_totals %}
                                    {% if discounts %}
                                        <tr>
                                            <td>{% trans "Basket total (before discounts)" %}</td>
                                            <td class="align-right">{{ order.basket_total_before_discounts_incl_tax|currency:order.currency }}</td>
                                        </tr>
                                        {% for discount in discounts %}
                                            <tr>
                                                <td><span class="label label-success">{% trans "Discount" %}</span> {{ discount.offer }}</td>
                                                <td class="align-right">- {{ discount.amount|currency:order.currency }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                {% endblock discount_totals %}

                                {% block basket_total %}
                                    {% if discounts %}
                                        <tr>
                                            <th class="total">{% trans "Basket total (after discounts)" %}</th>
                                            <th class="total align-right">{{ order.basket_total_incl_tax|currency:order.currency }}</th>
                                        </tr>
                                    {% else %}
                                        <tr class="basket-items">
                                            <th class="total">{% trans "Subtotal" %}</th>   <!--   HERE! --->
                                            <th class="total text-right">
                                                {% if show_tax_separately %}
                                                    {{ order.basket_total_excl_tax|currency:order.currency }}
                                                {% else %}
                                                    {{ order.basket_total_incl_tax|currency:order.currency }}
                                                {% endif %}
                                            </th>
                                        </tr>
                                    {% endif %}
                                {% endblock basket_total %}
                            {% endwith %}

                            {% if show_tax_separately %}
                                <tr>
                                    <th class="total">{% trans "Order tax" %}</th>
                                    <th class="total align-right">
                                        {{ order.total_tax|currency:order.currency }}
                                    </th>
                                </tr>
                            {% endif %}

                            {% block post_order_action_totals %}
                                {% with actions=order.post_order_actions %}
                                    {% if actions %}
                                        <tr>
                                            <th colspan="2"><h3>{% trans "Post order actions" %}</h3></th>
                                        </tr>
                                        {% for action in order.post_order_actions %}
                                            <tr>
                                                <td class="total" colspan="2"><p>{{ action.message }}</p></td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                            {% endblock post_order_action_totals %}

                            {% block order_total %}
                                <tr>
                                    <td class="total"><h3>{% trans "Total" %}</h3></td>     <!--   HERE! --->
                                    <td class="total text-right"><h3 class="price_color">{{ order.total_incl_tax|currency:order.currency }}</h3></td>
                                </tr>
                            {% endblock order_total %}
                        </table>
                    </div>
                </div>
            </div>
         {% endblock basket_totals %}

         {% block order_tracking %}
            {% if not order.user %}
                <div class="sub-header">
                    <h2>{% trans "Tracking your order" %}</h2>
                </div>
                <p>{% trans "You can track the status of your order" %}</p>
                <a class="btn btn-primary" href="{% url 'customer:anon-order' order_number=order.number hash=order.verification_hash %}">{% trans "View order status" %}</a>.
            {% endif %}
         {% endblock %}


         {% block order_actions %}
            <div class="basket-options">
               <div class="">
                 <div class="option-a">
                     <p><a href="{% url 'catalogue:my-course-list' %}" class="btn-a btn btn-primary btn-block btn-lg">{% trans "View My Courses" %}</a></p>
                 </div>
                 <div class="option-b">
                     <p><a href="{{ homepage_url }}" class="btn-b btn btn-primary btn-block btn-lg">{% trans "Course Catalog" %}</a></p>
                 </div>
               </div>
            </div>
         {% endblock order_actions %}


      </div>
   </div>
</div>
{% endblock content %}

{% block tracking %}
    {% if send_analytics_event %}
        {% include "partials/google_analytics_transaction.html" %}
    {% endif %}
{% endblock %}
