{% extends "base.html" %}

{% load i18n static widget_tweaks %}

{% block content %}
<main id="sign-in-form">
	<div class="container no-padding">
		<div class="row">
			<div class="cc-header">
				<h2>{% trans "Forgot your password?" %}</h2>
			</div>
			<div class="text">
	          <p class="line-clamp overflow-visible">Enter your user account's verified email address and we will send you a password reset link.</p>
	        </div>
			<div class="col-md-12 no-padding">
				<form method="post">{% csrf_token %}
					<fieldset class="module aligned">
					    <div class="form-group">
					        {{ form.email.errors }}
					        <label class="hide" for="id_email">{% trans 'Email address:' %}</label>
					        {% include 'partials/nolabel_form_field.html' with field=form.email|append_attr:"class:form-control" %}  
					    </div>
					    <div class="form-group">
						    <input class="btn btn-primary" type="submit" value="{% trans 'Reset my password' %}" />
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</main>
{% endblock %}
