{% extends "base.html" %}

{% load i18n static widget_tweaks %}

{% block content %}
<div class="container">
	<div class="row">
<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-group">
        {{ form.email.errors }}
        <label for="id_email">{% trans 'Email address:' %}</label>
        {% include 'partials/nolabel_form_field.html' with field=form.email|append_attr:"class:form-control" %}  
    </div>
    <div class="form-group">
    <input class="btn btn-primary" type="submit" value="{% trans 'Reset my password' %}" />
</div>
</fieldset>
</form>
</div>
</div>
{% endblock %}
