{% extends "base_player.html" %}

{% block content %}

  <div class="video-page">
    <div class="video-page-wrap">
      <div class="watch-hub">
        <div class="container-fluid">
          <div class="grd-row row test">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 no-padding test-1">
              <div class="video-player">
                <div class='embed-container'><iframe src='https://player.vimeo.com/video/{{video.video_id}}' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
                <div class="primary-video-info d-flex">
                  <div class="primary-video-info-title col-lg-7 col-md-7 col-sm-7 col-xs-12">{{video.name}}</div>
                  <div class="video-assets col-lg-5 col-md-5 col-sm-5 col-xs-12 d-flex hide">
                    <ul class="list">
                      <li class="d-flex">
                        <i class="far fa-file-pdf"></i>
                        <h6>PDF Download</h6>
                      </li>
                      <li class="d-flex">
                        <i class="far fa-file-excel"></i>
                        <h6>PDF Download</h6>
                        </1i>
                        <li class="d-flex">
                          <i class="fas fa-desktop"></i>
                          <h6>PDF Download</h6>
                        </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-12 video-series no-padding test-2">
              <div class="">
                <div class="">
                  <ul class="">
                    {% for video in videos %}
                    <li class="modules-list">
                      <div class="modules">
                        <div class="module-number">{{ forloop.counter }}</div>
                        <div class="box-content">
                          <h3><a href="{% url 'video:video-player' video.video_id %}">{{video.name}}</a></h3>
                          <p class="instructor">Rafer Johnson </p>
                          <p class="course-video-info">{{video.description}}</p>
                        </div>
                        <div class="module-duration">
                          <span>{{video.duration}}</span>
                        </div>
                        <div class="module-status">
                          {% if video.seen %}
                          <i class="fas fa-check-circle"></i>
                          {% endif %}
                        </div>
                      </div>
                    </li>

                   {% endfor %}   
                  </ul>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}



{% block extrascripts %}
{{ block.super }}
  <script src="https://player.vimeo.com/api/player.js"></script>
{% endblock extrascripts %}