{% extends "base.html" %}
{% load static %}

{% block content %}
  <main id="class-room">
    <div class="full-width">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 primary">
          <div class="aspect-container">
            <div class="aspect-spacer"></div>
            <div class="video-player">
              <div class="video-player-container player">
                <iframe src='https://player.vimeo.com/video/{{video.video_id}}' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 secondary">
          <div class="side-box">
            <div class="side-box-header">
              <span>Behavioural Economics and the Modern Economy</span> 
            </div>
            <ul class="">
              {% for video in videos %}
              <li class="modules-list">
                <div class="modules">
                  <div class="module-number">{{ forloop.counter }}</div>
                  <div class="box-content">
                    <div>
                      <a href="{% url 'video:play-video' view.kwargs.course_id video.video_id %}">{{video.name}}</a>
                      <p class="instructor">Rafer Johnson </p>
                      <p class="course-video-info">{{video.description}}</p>
                    </div>
                  </div>
                  <div class="module-duration">
                    <span>{{video.duration}}</span>
                  </div>
                  <div class="module-status">
                    {% if video.seen %}
                    {% endif %}
                    <i class="fas fa-check-circle"></i>
                  </div>
                </div>
              </li>
             {% endfor %}   
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}



{% block extrascripts %}
{{ block.super }}
  <script src="https://player.vimeo.com/api/player.js"></script>
{% endblock extrascripts %}