{% extends "layout/base.html" %}
{% load static %}

    {% block navbar %}
<nav id="sosci-nav" class="navbar navbar-expand-md">
  <div class="content">
    <div class="header">
      <div class="d-flex flex-row">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i class="fas fa-bars"></i>
          </span>
        </button>
        <a class="sosci-logo-m nav-link-m" href="{% url 'index' %}">Sosci</a>
      </div>
    </div>
    <div class="" id="navbarSupportedContent">
      <ul class="list">
        <li class="item"><a class="nav-link" href="{% url 'index' %}">Sosci</a></li>
        <li class="item"><a class="nav-link" href="{% url 'index' %}">Courses</a></li>
        <li class="active"><a class="nav-link" href="{% url 'video:video-upload-form' view.kwargs.course_id %}">Add Video</a></li>
        <li class="item"><a class="nav-link">Instructors</a></li>
        <li class="item"><a class="nav-link">Partners</a></li>
      
        <li class="item"><a class="nav-link">Sign Up</a></li>
        <li class="item"><a class="nav-link">Log In</a></li>
      </ul>
    </div>
  </div>
</nav>
    {% endblock navbar %}

{% block content %}
        <div class="row">
          
{% for object in object_list %}
          <div class="card" class="col-lg-4 col-md-4 col-sm-4 col-xs-12 px-1.5">
        {% if object.picture %}
      <a href="{% url 'video:video-player' object.pk %}"><img class="card-img-top" src="{{object.picture}}"></a>
      {% else %}
      <a href="{% url 'video:video-player' object.pk %}"><img  class="card-img-top" src="{% static 'img/image_not_found.jpg' %}"></a>
      {% endif %}
  <div class="card-body">
    <h5 class="card-title">Employer's Monthly Statutory Remittance Payroll Deductions (S01)</h5>
    <p class="card-text">This is a very intensive and practical course designed for everyone who needs an in-depth refresher. It will look at how to avoid the most common VAT problems and pitfalls. At the end of the course the delegates will be able to make informed
                  decisions about.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% empty %}
    <p>No videos yet.</p>
{% endfor %}    


        </div>
           {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }};q={{q}}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }};q={{q}}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    

{% endblock content %}