{% extends "layout/base.html" %}
{% load static %}

{% block styles %}

{{block.super}}
<style>
  .progress {
  height: 32px;
}
</style>
{% endblock styles %}

{% block content %}
    <div class="container">
      <table>
        <tr>
          <td>
            <label for="chunksize">
              Chunk size (bytes):
            </label>
          </td>
          <td>
            <input type="number" id="chunksize" name="chunksize">
          </td>
        </tr>
        <tr>
          <td>
            <label for="resume">
              Perform full upload:
              <br />
              <small>(even if we could resume)</small>
            </label>
          </td>
          <td>
            <input type="checkbox" id="resume">
          </td>
        </tr>
      </table>

      <br />
      <input type="file">

      <br />
      <br />

      <div class="row">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-success">
            <span class="bar" style="width: 0%;"></span>
          </div>
        </div>
        <div class="span4">
          <button class="btn stop" id="toggle-btn">start upload</button>
        </div>
      </div>

      <hr />
      <h3>Uploads</h3>
      <p id="upload-list">
        Succesful uploads will be listed here. Try one!
      </p>

    </div>
{% endblock content %}

{% block extrascripts %}
{{ block.super }}

<script src="{% static 'js/tus.js' %}"></script>
<script src="{% static 'js/video-upload.js' %}"></script>


{% endblock extrascripts %}