{% extends "layout/base.html" %}

{% block content %}


        <div class="row">

          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="p-3">
              <div class="box-part text-left">
                <div class="title">
                  <h3>{{course.name}}</h3>
                </div>
              </div>
              <div class="description">
                <p>{{course.description}} </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="p-3">
              {% if is_enrolled %}
              <div href="" class="enroll-btn">
                <div class="enroll-btn-icon">
                  <i class="fas fa-video"></i>
                </div>
                <div class="enroll-btn-text-wrap">
                  <div class="enroll-btn-text">Enrolled</div>
                </div>
              </div>                 

              {% else %}
              <form action="{% url 'course:course-enrollment' view.kwargs.course_id %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="action" value="enroll" />
              <div href="" class="enroll-btn">
                <div class="enroll-btn-icon">
                  <i class="fas fa-video"></i>
                </div>
                <div class="enroll-btn-text-wrap">
                  <input type="submit" class="enroll-btn-text">Enroll in this course</input>
                </div>
              </div>  
              </form>         
              {% endif %}
            </div>
          </div>
          
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="p-3">
              <table class="course-list">
                <tbody>
                  {% for module in course.coursemodules.all %}
                  <tr>
                    <td class="course-list-count">{{ forloop.counter }}</td>
                    <td class="course-list-title">{{module.name}}</td>
                    <td class="course-list-duration">{{module.duration}}</td>
                  </tr>
                  {% empty %}
                      <tr><td></td><td>No modules yet.</td><td></td></tr>
                  {% endfor %} 
                </tbody>
              </table>
            </div>
          </div>

        </div>
 

{% endblock content %}
