{% extends "layout/base.html" %}

{% block content %}


        <div class="row">

          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="p-3">
              <div class="box-part text-left">
                <div class="title tittle-details">
                  <h3>{{course.name}}</h3>
                </div>
                <div class="credit-hours-course">
                  <span>3 Credit Hours</span>
                </div>
              </div>
              <div class="description description-detail">
                <p>{{course.description}} </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="p-3">
              {% if is_enrolled %}
              <div href="" class="enroll-btn">
                <div class="enroll-btn-icon">
                  <i class="fas fa-video"></i>
                </div>
                <div class="enroll-btn-text-wrap">
                  <div class="enroll-btn-text">Enrolled</div>
                </div>
              </div>                 

              {% else %}
                    {% if request.user.is_authenticated %}
                    <div href="" class="enroll-btn" data-toggle="modal" data-target="#payment-modal">
                      <div class="enroll-btn-icon">
                        <i class="fas fa-video"></i>
                      </div>
                      <div class="enroll-btn-text-wrap">
                        <div class="enroll-btn-text">Enroll in this course</div>
                      </div>
                    </div>
                    {% else %}
                    <div href="" class="enroll-btn" data-toggle="modal" data-target="#login-modal">
                      <div class="enroll-btn-icon">
                        <i class="fas fa-video"></i>
                      </div>
                      <div class="enroll-btn-text-wrap">
                        <div class="enroll-btn-text">Enroll in this course</div>
                      </div>
                    </div>                      
                    {% endif %}
     
              {% endif %}
            </div>
          </div>
          
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="p-3">
              <table class="course-list">
                <tbody>
                  {% for module in course.coursemodules.all %}
                  <tr>
                    <td class="course-list-count">{{ forloop.counter }}</td>
                    <td class="course-list-title">{{module.name}}</td>
                    <td class="course-list-duration">{{module.duration}}</td>
                  </tr>
                  {% empty %}
                      <tr><td></td><td>No modules yet.</td><td></td></tr>
                  {% endfor %} 
                </tbody>
              </table>
            </div>
          </div>

        </div>
 

<!-- Modal -->
<div class="modal fade" id="payment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
  <form role="form">
  <div class="form-group">
    <label for="username">Full name (on the card)</label>
    <input type="text" class="form-control" name="username" placeholder="" required="">
  </div> <!-- form-group.// -->

  <div class="form-group">
    <label for="cardNumber">Card number</label>
    <div class="input-group">
      <input type="text" class="form-control" name="cardNumber" placeholder="">
      <div class="input-group-append">
        <span class="input-group-text text-muted">
          <i class="fab fa-cc-visa"></i>   <i class="fab fa-cc-amex"></i>   
          <i class="fab fa-cc-mastercard"></i> 
        </span>
      </div>
    </div>
  </div> <!-- form-group.// -->

  <div class="row">
      <div class="col-sm-8">
          <div class="form-group">
              <label><span class="hidden-xs">Expiration</span> </label>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="MM" name="">
                <input type="number" class="form-control" placeholder="YY" name="">
            </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="form-group">
              <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
              <input type="number" class="form-control" required="">
          </div> <!-- form-group.// -->
      </div>
  </div> <!-- row.// -->
  <button class="subscribe btn btn-primary btn-block" type="button"> Confirm  </button>
  </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<form id="login-form" method="post" action="{% url 'customer:login' %}">
    {% csrf_token %}

   
    <div ng-class="{'has-error':vm.form.email.$invalid}"  class="col-md-12 payroll-setup-taxpayer-information-item extra-non-padding grid-col-form grid-col-width grid-col-top remove-padding n1">
        <div class="input-select_select">
            <input type="text" class="form-control" name="username" placeholder="" required="">
        </div>
    </div>
    <div ng-class="{'has-error':vm.form.password.$invalid}"  class="col-md-12 payroll-setup-taxpayer-information-item extra-non-padding grid-col-form grid-col-width">
        <div class="input-select_select">
            <input type="text" class="form-control" name="password1" placeholder="" required="">
        </div>
    </div>
    <div id="save-btn">
        <button type="submit" ng-click="vm.submit(vm.form_data)" class="btn btn-color btn-xtra-large btn-block panel-btn">Submit</button>
        <div class="login-footer">
            Don't have an account?
            <span class="signup-today">
               <a href="{% url 'customer:user-registration' %}">Sign Up</a>
            </span>
        </div>
    </div>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
