{% if request.user.is_authenticated and request.user.userrole.name == "Instructor" %}
<nav id="sosci-nav" class="navbar navbar-expand-md">
  <div class="content">
    <div class="header">
      <div class="d-flex flex-row">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
                 <i class="fas fa-bars"></i>
              </span>
          </button>
          <a class="sosci-logo-m nav-link-m" href="{% url 'home' %}">Sosci</a>
      </div>
    </div>

    <div class="d-flex" id="navbarSupportedContent">

      <div class="col-md-4 no-padding">
        <ul class="list">
          <li class="item"><a class="nav-link" href="{% url 'catalogue:my-course-list' %}">My Courses</a></li>
          <li class="item"><a class="nav-link" href="{% url 'catalogue:course-list' %}">Browse Courses</a></li>
        </ul>
      </div>

      <div class="col-md-4"></div>

      <div class="col-md-4">
        <ul class="list float-right">
          <li class="item dropdown">
            <div class="dropdown show">
              <a class="btn d-flex" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>Create Course</span>
                <i class="dd-icon">
                   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-reactid="195"><path style="fill:#ffffff;" fill-rule="evenodd" clip-rule="evenodd" d="M7 10.2l5 5 5-5-1.4-1.4-3.6 3.6-3.6-3.6z" data-reactid="196"/></svg>
                </i>
              </a>
              <!--
              <a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="nav-create-course">
                  <span>Create Course</span>
                  <span class="dropdown-chevron">
                    <i class="material-icons">keyboard_arrow_down</i>
                  </span>
                </div>
              </a>
              -->  
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                <a class="dropdown-item" href="{% url 'catalogue:course-create-form' %}">
                  <i class="material-icons">ondemand_video</i>
                  <span class="dropdown-item-option">Video stream</span>
                </a>

                <a class="dropdown-item" href="{% url 'catalogue:live-course-create-form' %}">
                  <i class="material-icons">videocam</i>
                  <span class="dropdown-item-option">Live stream</span>
                </a>

              </div>
            </div>
          </li>
          <li class="item"><a class="nav-link" href="{% url 'instructor:student-list' %}" role="button">My Students</a></li>
          <li class="item dropdown">
            <div class="dropdown show">
              <a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="d-flex ">
                  <span class="profile-name">{{request.user.first_name}}{{request.user.last_name}}</span>
                  <i class="dd-icon">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-reactid="195"><path style="fill:#ffffff;" fill-rule="evenodd" clip-rule="evenodd" d="M7 10.2l5 5 5-5-1.4-1.4-3.6 3.6-3.6-3.6z" data-reactid="196"/></svg>
                  </i>
                </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'catalogue:course-create-form' %}">
                  <i class="material-icons">person_add</i>
                  <span class="dropdown-item-option">Invite Friends</span>
                </a>
                <a class="dropdown-item" href="{% url 'catalogue:course-create-form' %}">
                  <i class="material-icons">person_outline</i>
                  <span class="dropdown-item-option">My Account</span>
                </a>
                <a class="dropdown-item" href="{% url 'customer:logout' %}">
                  <i class="material-icons">power_settings_new</i>
                  <span class="dropdown-item-option">Logout</span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
{% elif request.user.is_authenticated and request.user.userrole.name == "Student" %}
<nav id="sosci-nav" class="navbar navbar-expand-md">
  <div class="content">
    <div class="header">
      <div class="d-flex flex-row">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fas fa-bars"></i>
            </span>
        </button>
        <a class="sosci-logo-m nav-link-m" href="{% url 'home' %}">Sosci</a>
      </div>
    </div>


    <div class="d-flex" id="navbarSupportedContent">

      <div class="col-md-4 no-padding">
        <ul class="list">
          <li class="item"><a class="nav-link" href="{% url 'catalogue:my-course-list' %}">My Courses</a></li>
          <li class="item"><a class="nav-link" href="{% url 'catalogue:course-list' %}">Browse Courses</a></li>
        </ul>
      </div>

      <div class="col-md-4"></div>

      <div class="col-md-4 no-padding">
        <ul class="list float-right">
          <li class="item dropdown">
            <div class="dropdown show">
              <a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-create-course">
                  <span class="profile-name">{{request.user.first_name}}</span>
                  <span>{{request.user.last_name}}</span>
                </span>
                <span class="nav-dropdown">
                  <i class="fas fa-angle-down"></i>
                </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'catalogue:course-create-form' %}">
                  <i class="fas fa-user-plus"></i>
                  <span>Invite Friends</span>
                </a>
                <a class="dropdown-item" href="{% url 'catalogue:course-create-form' %}">
                  <i class="fas fa-user-graduate"></i>
                  <span>My Account</span>
                </a>
                <a class="dropdown-item" href="{% url 'customer:logout' %}">
                  <i class="fas fa-power-off"></i>
                  <span>Logout</span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
{% elif not request.user.is_authenticated %}
<nav id="sosci-nav" class="navbar navbar-expand-md">
    <div class="content">
        <div class="header">
            <div class="d-flex flex-row">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                       <i class="fas fa-bars"></i>
                    </span>
                </button>
                <a class="sosci-logo-m nav-link-m" href="{% url 'home' %}">Sosci</a>
            </div>
        </div>
        <div class="d-flex" id="navbarSupportedContent">

          <div class="col-md-4">
            <ul class="list">
              <li class="item"><a class="nav-link" href="{% url 'home' %}">Sosci</a></li>
              <li class="item"><a class="nav-link hide" href="{% url 'catalogue:course-list' %}">Video Stream Courses</a></li>
              <li class="item"><a class="nav-link hide" href="{% url 'catalogue:course-list' %}">Live Courses</a></li>
              <li class="item dropdown">
                <div class="dropdown show">
                  <a class="btn d-flex" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="nav-create-course">Courses</span>
                    <i class="dd-icon">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-reactid="195"><path style="fill:#ffffff;" fill-rule="evenodd" clip-rule="evenodd" d="M7 10.2l5 5 5-5-1.4-1.4-3.6 3.6-3.6-3.6z" data-reactid="196"/></svg>
                  </i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item d-flex" href="">
                      <i class="material-icons">ondemand_video</i>
                      <span class="dropdown-item-option">On Demand</span>
                    </a>
                    <a class="dropdown-item d-flex" href="">
                      <i class="material-icons">videocam</i>
                      <span class="dropdown-item-option">Live</span>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>  

          <div class="col-md-4">
            
          </div>

          <div class="col-md-4">
            <ul class="list float-right">
              <li class="item"><a class="nav-link" href="{% url 'customer:user-registration' %}">Sign Up</a></li>
              <li class="item"><a class="nav-link" href="{% url 'customer:user-login' %}">Log In</a></li>
            </ul>
          </div>

        </div>
    </div>
</nav>
{% else %}
<nav id="sosci-nav" class="navbar navbar-expand-md">
  <div class="content">
    <div class="header">
        <div class="d-flex flex-row">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars"></i>
                </span>
            </button>
            <a class="sosci-logo-m nav-link-m" href="{% url 'home' %}">Sosci</a>
        </div>
    </div>
    <div class="" id="navbarSupportedContent">
      
      <div class="col-md-4">
        <ul class="list">
          <li class="item"><a class="nav-link" href="{% url 'home' %}">Sosci</a></li>
          <li class="item"><a class="nav-link hide" href="{% url 'catalogue:course-list' %}">On Demand Courses</a></li>
          <li class="item"><a class="nav-link hide" href="{% url 'catalogue:course-list' %}">Live Courses</a></li>
          <li class="item dropdown">
            <div class="dropdown show">
              <a class="btn d-flex" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="nav-create-course">Courses</span>
                <i class="dd-icon">
                   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-reactid="195"><path style="fill:#ffffff;" fill-rule="evenodd" clip-rule="evenodd" d="M7 10.2l5 5 5-5-1.4-1.4-3.6 3.6-3.6-3.6z" data-reactid="196"/></svg>
                </i>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="">
                  <i class="fas fa-certificate"></i>
                  <span class="dropdown-item-option">On Demand Courses</span>
                </a>
                <a class="dropdown-item" href="">
                  <i class="fas fa-certificate"></i>
                  <span class="dropdown-item-option">Live Courses</span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>  

      <div class="col-md-4"></div>

      <div class="col-md-4">
        <ul class="list float-right">
          <li class="item"><a class="nav-link" href="{% url 'customer:user-registration' %}">Sign Up</a></li>
          <li class="item"><a class="nav-link" href="{% url 'customer:user-login' %}">Log In</a></li>
        </ul>
      </div>

    </div>
  </div>
</nav>
{% endif %}