{% if request.user.is_authenticated and request.user.is_staff %}
<nav id="sosci-nav" class="navbar navbar-expand-md">
  <div class="content">
    <div class="header">
      <div class="d-flex flex-row">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i class="fas fa-bars"></i>
          </span>
        </button>
        <a class="sosci-logo-m nav-link-m" href="{% url 'promotions:home' %}">Sosci Admin</a>
      </div>
    </div>
    <div class="" id="navbarSupportedContent">
      <ul class="list">
        <li class="item"><a class="nav-link" href="{% url 'promotions:home' %}">Sosci Admin</a></li>
        <li class="item"><a class="nav-link" href="{% url 'catalogue:course-list' %}">Courses</a></li>
        <li class="item"><a class="nav-link" href="{% url 'catalogue:course-create-form' %}">Create Course</a></li>
        <li class="item"><a class="nav-link">Instructors</a></li>
        <li class="item"><a class="nav-link">Partners</a></li>
      
        <li class="item"><a class="nav-link" >Enroll</a></li>
        <li class="item"><a class="nav-link" href="{% url 'customer:logout' %}">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
{% elif request.user.is_authenticated %}
<nav id="sosci-nav" class="navbar navbar-expand-md">
  <div class="content">
    <div class="header">
      <div class="d-flex flex-row">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i class="fas fa-bars"></i>
          </span>
        </button>
        <a class="sosci-logo-m nav-link-m" href="{% url 'promotions:home' %}">Sosci</a>
      </div>
    </div>
    <div class="" id="navbarSupportedContent">
      <ul class="list">
        <li class="item"><a class="nav-link" href="{% url 'promotions:home' %}">Sosci</a></li>
        <li class="item"><a class="nav-link" href="{% url 'catalogue:course-list' %}">CPD Courses</a></li>
        <li class="item"><a class="nav-link" >Certificate Programs</a></li>
        <li class="item"><a class="nav-link">SME School</a></li>
        <li class="item"><a class="nav-link">Help</a></li>
      
        <li class="item"><a class="nav-link">My Courses</a></li>
        <li class="item"><a class="nav-link" href="{% url 'customer:logout' %}">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
{% elif not request.user.is_authenticated %}
<nav id="sosci-nav" class="navbar navbar-expand-md">
  <div class="content">
    <div class="header">
      <div class="d-flex flex-row">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i class="fas fa-bars"></i>
          </span>
        </button>
        <a class="sosci-logo-m nav-link-m" href="{% url 'promotions:home' %}">Sosci</a>
      </div>
    </div>
    <div class="" id="navbarSupportedContent">
      <ul class="list">
        <li class="item"><a class="nav-link" href="{% url 'promotions:home' %}">Sosci</a></li>
        <li class="item"><a class="nav-link" href="{% url 'catalogue:course-list' %}">CPD Courses</a></li>
        <li class="item"><a class="nav-link" >Certificate Programs</a></li>
        <li class="item"><a class="nav-link">SME School</a></li>
        <li class="item"><a class="nav-link">About Us</a></li>
      
        <li class="item"><a class="nav-link">Sign Up</a></li>
        <li class="item"><a class="nav-link" href="{% url 'customer:login' %}">Sign In</a></li>
      </ul>
    </div>
  </div>
</nav>
{% else %}
<nav id="sosci-nav" class="navbar navbar-expand-md">
  <div class="content">
    <div class="header">
      <div class="d-flex flex-row">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i class="fas fa-bars"></i>
          </span>
        </button>
        <a class="sosci-logo-m nav-link-m" href="{% url 'promotions:home' %}">Sosci</a>
      </div>
    </div>
    <div class="" id="navbarSupportedContent">
      <ul class="list">
        <li class="item"><a class="nav-link" href="{% url 'promotions:home' %}">Sosci</a></li>
        <li class="item"><a class="nav-link" href="{% url 'catalogue:course-list' %}">CPD Courses</a></li>
        <li class="item"><a class="nav-link" >Certificate Programs</a></li>
        <li class="item"><a class="nav-link">SME School</a></li>
        <li class="item"><a class="nav-link">About Us</a></li>
        <li class="item"><a class="nav-link" >Sign Up</a></li>
        <li class="item"><a class="nav-link" href="{% url 'customer:login' %}">Sign In</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endif %}