{% extends "base.html" %}
{% load widget_tweaks %}


{% block content %}
  <div class="container no-padding">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 test-4 px-0">
        <div class="page-landing">
          <h1 class="heading-display">Become a proactive learner<span>.</span></h1>
          <p class="text-large hero-message">Sosci is a training platform that delivers high quality course content by instructors who are experts in their repective fields.</p>
          <!-- Sosci is a training platform that delivers high quality course content by instructors who are experts in their repective fields. We undertsand the limitations involved in balancing work and school, and we felt it was important to provide employees with a tool that allows them to study at their own pace.  
  -->
          <div class="get-started">
            <div class="text-input login-text-input d-flex">
              <div class="text-input-error"></div>
              <div class="text-input-wrapper start"></div>
              <a class="start-btn" type="button" href="{% url 'customer:user-registration' %}">
                <span class="register-message">Sign up to enroll in a course</span>
                <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 px-0 test-4">

        <form method="post" class="sign-in-form" action="{% url 'customer:user-login' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <input type="hidden" name="next" value='{{next}}'> 
          <h2 class="sign-in-hero">Sign in to take a course</h2>
          <div class="text-input login-text-input ">
            <div class="text-input-error"></div>
            <div class="text-input-wrapper">
              <label>Email</label>
              {{ form.username|append_attr:"class:text-input-input" }}
            {{ form.username.errors }}
            </div>
          </div>
          <div class="text-input login-text-input ">
            <div class="text-input-error"></div>
            <div class="text-input-wrapper">
              <label>Password</label>
              {{ form.password|append_attr:"class:text-input-input" }}
            {{ form.password.errors }}
            </div>
          </div>
          <div class="sign-in-btn">
            <button type="submit">
              <span>Start Learning Now</span>
            </button>
          </div>
          <div class="terms">
            <p>This page is protected by reCAPTCHA, and subject to Google’s Privacy Policy & Terms of Service. By signing up for Social Science, you agree to our Terms of Service & Privacy Policy.</p>
          </div>
</form>



      </div>

    </div>
  </div>
  {% endblock content %}