{% extends "base.html" %}
{% load static %}

{% block extrastyles %}
{{ block.super }}

<link href="{% static 'css/room.css' %}" rel="stylesheet" type="text/css"/>
{% endblock extrastyles %}


{% block content %}
<main id="class-room">
  <div class="full-width">
    <div class="row">

      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 primary">
        <div class="aspect-container">
          <div class="aspect-spacer"></div>
          <div class="video-player">
            <div class="video-player-container player">
              <div id="remote-media"></div>
              <div id="local-media"></div>
              <div class="streamstatus hide">
                <i class="fas fa-circle"></i>
                <span>LIVE</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 secondary">
        <div class="side-box">
          <div class="side-box-header">
            <span>Behavioural Economics and the Modern Economy</span> 
          </div>

          <div id="participants-panel" class="side-box-content">
            <h4 class="">Participants</h4>
            <ul id="participants-list">
            <li><div class="participant">{{request.user.first_name}} {{request.user.last_name}}</div><i class="fas fa-circle"></i></li>
            </ul>
          </div>

          <div id="chat-panel" class="side-box-content hide">


            <div class="chat-box">
              <div class="chat-container">
                <textarea id="chat-input" placeholder="Send message..."></textarea>
                <span class="attachment">
                  <i class="fas fa-paperclip"></i>
                </span>
              </div>
            </div>
          </div>

          <div id="video-controls-panel" class="side-box-content hide">
            <div class="video-nav">
              <div style="text-align:center">
                <div class="">
                  <div class="video-nav-list">
                    <div>
                      <a class="dot-control .on icon-btn" href="#" id="btn-toggle-video" title='Camera On'>
                        <i class="fas fa-video"></i>
                      </a>
                      <p>Camera On</p>
                    </div>
                    <div>
                      <a class="dot-control .off icon-btn" href="#" id="button-leave" title='Leave Room'>
                        <i class="fas fa-video-slash"></i>
                      </a>
                      <p>Camera Off</p>
                    </div>  
                    <div>
                      <a class="dot-control icon-btn" href="#" id="btn-share-screen" title='Share Screen'>
                        <i class="fas fa-desktop"></i>
                      </a>
                      <p>Share Screen</p>
                    </div>
                  </div>
                  <div class="video-nav-list">
                    <div>
                      <a class="dot-control icon-btn" href="#" id="btn-unshare-screen" title='UnShare Screen' style="display:none">
                        <i class="fas fa-desktop"></i>
                      </a>
                      <p>Unshare Screen</p>
                    </div>
                    <div>
                      <a class="dot-control icon-btn" href="#" id="btn-toggle-audio" title='Mute Mic'>
                        <i class="fas fa-microphone"></i>
                      </a>
                      <p>Mic</p>
                    </div>
                    <div>
                      <a class="dot-control icon-btn" href="#" data-toggle="modal" data-target="#end-session-modal" id="end-session" title='End Session'>
                        <i class="fas fa-sign-out-alt"></i>
                      </a>
                      <p>Leave Course</p>
                    </div>
                  </div>
                  <div class="video-nav-list">
                    <div>
                      <a class="dot-control icon-btn" href="#" data-toggle="modal" data-target="" id="" title='Raise Hand'>
                        <i class="fas fa-child"></i>
                      </a>
                      <p>Raise Hand</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="side-box-footer">
            <div id="btn-toggle-participants-panel" class="side-box-functions" title='Participants List'>
              <i class="fas fa-user-friends"></i> 
            </div>
            <div id="btn-toggle-chat-panel" class="side-box-functions">
              <i class="fas fa-comment"></i>  
            </div>
            <div id="btn-toggle-video-controls-panel" class="side-box-functions">
              <i class="fas fa-video"></i>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>



<div class="modal fade" id="end-session-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure that you want to end this session?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-confirm-end-session" class="btn btn-secondary">Yes</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<form id="csrftoken-form">
{% csrf_token %}
<input type="hidden" id="input-room-sid">
</form>
{% endblock content %}

{% block extrascripts %}
{{ block.super }}
<script src="{% static 'js/sosci.719f1b52a0a3a3176cd5.js' %}"></script>
<script type="text/javascript">
// using jQuery
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
</script>

<script>
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>


{% autoescape off %}
<script>
Sosci.init("{{identity}}","{{host_identity}}","{{token}}");
</script>
{% endautoescape %}


<script>
function end_session(){
    $.ajax({
      type: "POST",
      url: "{% url 'instructor:end-session' view.kwargs.course_id %}",
      data: {"room_sid":document.getElementById('input-room-sid').value},
      success: function () {
        $('#end-session-modal').modal('hide');
      },
      error: function () {
        $('#end-session-modal').modal('hide');
      }
    });
}

$("#btn-confirm-end-session").on("click", end_session);

</script>


{% endblock extrascripts %}