{% extends "base.html" %}
{% load static %}

{% block extrastyles %}
{{ block.super }}

<link href="{% static 'css/room.css' %}" rel="stylesheet" type="text/css"/>
{% endblock extrastyles %}


{% block content %}
<main id="class-room">
  <div class="full-width">
    <div class="row">

      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 primary">
        <div class="aspect-container">
          <div class="aspect-spacer"></div>
          <div class="video-player">
            <div class="video-player-container player">
              <div id="remote-media"></div>
              <div id="local-media"></div>
              <div class="streamstatus hide">
                <i class="fas fa-circle"></i>
                <span>LIVE</span>
              </div>
            </div>
          </div>
          <div class="video-nav dp-flex">
            <div style="text-align:center">
              <a class="dot-control on" href="#" id="button-preview" title='Camera On'>
                <i class="fas fa-video"></i>
              </a>
              <a class="dot-control" href="#" id="btn-share-screen" title='Share Screen'>
                <i class="fas fa-desktop"></i>
              </a>
              <a class="dot-control" href="#" id="btn-unshare-screen" title='UnShare Screen' style="display:none">
                <i class="fas fa-desktop"></i>
              </a>
              <a class="dot-control  option" href="#" id="" title='Mute Mic'>
                <i class="fas fa-microphone"></i>
              </a>
              <a class="dot-control off" href="#" id="button-leave" title='Leave Room'>
                <i class="fas fa-video-slash"></i>
              </a>
              <a class="dot-control option" data-toggle="modal" data-target="#end-session-modal" id="end-session" title='End Session'>
                <i class="fas fa-sign-out-alt"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 secondary">
        <div class="side-box">
          <div class="side-box-header">
            <span>Behavioural Economics and the Modern Economy</span> 
          </div>

          <div class="side-box-content hide">
            <h4 class="">Host</h4>
            <ul>
              <li>
                <div class="participant">{{owner.first_name}} {{owner.last_name}}</div>
                <i class="fas fa-circle"></i>
              </li>
            </ul>
          </div>
          

          <div id="myParticipants" class="side-box-content">
            <h4 class="">Participants</h4>
            <ul id="participants">
            <li><div class="participant">{{request.user.first_name}} {{request.user.last_name}}</div><i class="fas fa-circle"></i></li>
            </ul>
          </div>

          <div id="myChat" class="side-box-content">
            <h4 class="">This is the Chatbox</h4>
          </div>

          <div class="side-box-footer ">
            <div class="side-box-functions">
              <i class="fas fa-user-friends"></i> 
            </div>
            <div class="side-box-functions" onclick="myFunction()">
              <i class="fas fa-comment"></i>  
            </div>
            <div class="side-box-functions">
              <i class="fas fa-share"></i> 
            </div>
            <div class="side-box-functions">
              <i class="fas fa-ellipsis-h"></i> 
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>



<div class="modal fade" id="end-session-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure that you want to end this session?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-confirm-end-session" class="btn btn-secondary">Yes</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<form id="csrftoken-form">
{% csrf_token %}
</form>
{% endblock content %}

{% block extrascripts %}
{{ block.super }}
<script src="{% static 'js/sosci-live.js' %}"></script>

<script type="text/javascript">
// using jQuery
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
</script>

<script>
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>

<script>
function myFunction() {
  var x = document.getElementById("myChat");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

<script>
function end_session(){
    $.ajax({
      type: "POST",
      url: "{% url 'live:end-session' view.kwargs.course_id %}",
      data: {"room_sid":room.sid},
      success: function () {
        $('#end-session-modal').modal('hide');
      },
      error: function () {
        $('#end-session-modal').modal('hide');
      }
    });
}

$("#btn-confirm-end-session").on("click", end_session);

</script>

{% autoescape off %}
<script>
sosci_live.join("{{token}}");
</script>
{% endautoescape %}
{% endblock extrascripts %}