{% extends "base.html" %}
{% load static %}

{% block extrastyles %}
{{ block.super }}

<link href="{% static 'css/room.css' %}" rel="stylesheet" type="text/css"/>
{% endblock extrastyles %}


{% block content %}
<main id="class-room">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 no-padding border-right audience-channel">
        <div>
          <div class="side-nav-header">
            <i class="fas fa-video"></i>
            <span>Students Online</span>
          </div>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>Trishauna Hemmings</td>
              </tr>
              <tr>
                <td>Aldon Palmer</td>
              </tr>
              <tr>
                <td>Rafer Johnson</td>
              </tr>
              <tr>
                <td>Novia Hill</td>
              </tr>
              <tr>
                <td>Joyce McKenzie</td>
              </tr>
              <tr>
                <td>Adrian Adman</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 no-padding">
        <div class="full-width">
          <div class="full-height">
            <div class="player">
              <div class="player">
                <div class="player-overlay fullscreen">
                  <div class="pl-error">
                    <div class="player-center-content">
                      <p>There seems to be an error, please try again</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
             <button id="btn-share-screen" class="btn btn-primary" style="position: relative;"> 
              <span class="cam-btn">Share Screen</span>
            </button>
            <button id="button-leave" class="btn btn-primary" style="position: relative;">Leave Room</button>           
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 no-padding border-left">
        <div id="controls" class=".test remote-cam-container">
          <div id="preview" class=".test-1">
            <div id="remote-media" class=".test-2 remote-cam">
            </div>
          </div>
        </div>
        <div id="controls" class=".test local-cam-container">
          <div id="preview" class=".test-1">
            <div id="local-media" class=".test-2 local-cam">
            </div>
            <button id="button-preview" class="btn btn-primary">
              <span class="cam-btn">Preview My Camera</span>
            </button>
          </div>
        </div>
      </div>
      <div id="room-controls" class="hide">
        <p class="instructions">Room Name:</p>
        <input id="room-name" type="text" placeholder="Enter a room name" />
        <button id="button-join">Join Room</button>
        <button id="button-leave">Leave Room</button>
      </div>
      <div id="log" class="hide"></div>
    </div>
  </div>
</main>


{% endblock content %}

{% block extrascripts %}
{{ block.super }}
<script src="{% static 'js/sosci-live.js' %}"></script>
{% autoescape off %}
<script>
sosci_live.join("{{token}}");
</script>
{% endautoescape %}
{% endblock extrascripts %}