{% extends "base.html" %}
{% load static %}




{% block content %}
<main>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="start-stream-box">
					<div class="start-stream-intro">
					  <h1 class="stream-text-title">Get ready to start streaming!</h1>
					  <p>Click the start streaming button to create your class room. After which, your students can join in to participate.</p>
					  <hr class="my-4">	
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding stream-btn">
							<a class="enroll-btn" href="{% url 'live:twilio-room-host' view.kwargs.course_id %}" role="button">
								<i class="fas fa-video"></i>
							    <span class="stream-button">Start Session</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock content %}


