{% extends "base.html" %}
{% load static widget_tweaks %}
{% block content %}

      <div class="container"> 
        <div class="row course-detail">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="p-3">
              <div class="box-part text-left">
                <div class="title title-details">
                  <h3>{{course.name}}</h3>
                </div>
                <div class="credit-hours-course">
                  <span>3 Credit Hours</span>
                </div>
              </div>
              <div class="description description-detail">
                <h3 class="subheading">Course Description</h3>
                <p>{{course.description}} </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="p-3">
              {% if is_enrolled %}
              <div href="" class="enroll-btn">
                <div class="enroll-btn-icon">
                  <i class="fas fa-video"></i>
                </div>
                <div class="enroll-btn-text-wrap">
                  <div class="enroll-btn-text">Enrolled</div>
                </div>
              </div>                 

              {% else %}
                    {% if request.user.is_authenticated == True %}
                    <a href="{% url 'checkout:payment-details' view.kwargs.course_id %}">
                    <div class="enroll-btn" >
                      <div class="enroll-btn-icon">
                        <i class="fas fa-video"></i>
                      </div>
                      <div class="enroll-btn-text-wrap">
                        <div class="enroll-btn-text">Enroll in this course</div>
                      </div>
                    </div>
                  </a>
                    {% else %}
                    <div href="" class="enroll-btn open-login-modal" data-url="{% url 'customer:login-modal' %}" data-toggle="modal" data-target="#login-modal">
                      <div class="enroll-btn-icon">
                        <i class="fas fa-video"></i>
                      </div>
                      <div class="enroll-btn-text-wrap">
                        <div class="enroll-btn-text">Enroll in this course</div>
                      </div>
                    </div>                      
                    {% endif %}
     
              {% endif %}
            </div>
          </div>
          
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="p-3">
              <table class="course-list">
                <tbody>
                  {% for module in course.coursemodules.all %}
                  <tr>
                    <td class="course-list-count">{{ forloop.counter }}</td>
                    <td class="course-list-title">{{module.name}}</td>
                    <td class="course-list-duration">{{module.duration}}</td>
                  </tr>
                  {% empty %}
                      <tr><td></td><td>No modules yet.</td><td></td></tr>
                  {% endfor %} 
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
 

<!-- Modal -->
<div class="modal fade" id="payment-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-box" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
  <form role="form">
  <div class="form-group">
    <label for="username">Full name (on the card)</label>
    <input type="text" class="form-control" name="username" placeholder="" required="">
  </div> <!-- form-group.// -->

  <div class="form-group">
    <label for="cardNumber">Card number</label>
    <div class="input-group">
      <input type="text" class="form-control" name="cardNumber" placeholder="">
      <div class="input-group-append">
        <span class="input-group-text text-muted">
          <i class="fab fa-cc-visa"></i>   <i class="fab fa-cc-amex"></i>   
          <i class="fab fa-cc-mastercard"></i> 
        </span>
      </div>
    </div>
  </div> <!-- form-group.// -->

  <div class="row">
      <div class="col-sm-8">
          <div class="form-group">
              <label><span class="hidden-xs">Expiration</span> </label>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="MM" name="">
                <input type="number" class="form-control" placeholder="YY" name="">
            </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="form-group">
              <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
              <input type="number" class="form-control" required="">
          </div> <!-- form-group.// -->
      </div>
  </div> <!-- row.// -->
  <button class="subscribe btn btn-primary btn-block" type="button"> Confirm  </button>
  </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div id="authentication-modal" class="modal fade" tabindex="-1" role="dialog">



</div>
{% endblock content %}



{% block extrascripts %}
{{ block.super }}
<script src="{% static 'js/jquery.form.min-4.2.2.js' %}"></script>

  <script>
  $(document).on('click',".open-login-modal", function (event) {
    event.preventDefault();
    open_login_modal($(this).attr('data-url'));

    
  });

function open_login_modal(url){

    $('#authentication-modal').load(url,function(){

        $('#authentication-modal').modal('show');
        
        
    });

    
}

</script>
{% endblock extrascripts %} 