{% extends "catalogue/course_detail_layout.html" %}
{% load static widget_tweaks %}
{% load currency_filters %}
{% load purchase_info_tags %}

{% block content %}
{% purchase_info_for_product request course as session %}
<div class="container">
    <div class="row course-detail">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="p-3">
                <div class="box-part text-left">
                    <div class="title title-details">
                        <h3>{{course.title}}</h3>
                    </div>
                    <div class="credit-hours-course">
                        <span class="hide">3 Credit Hours</span>
                    </div>
                </div>
                <div class="description description-detail">
                    <h3 class="subheading hide">Course Description</h3>
                    <p>{{course.description|safe}} </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="p-3">
                {% if request.user.is_authenticated == True %}
                {% if request.user == course.user %}
                <a href="{% url 'instructor:start-session' view.kwargs.course_id %}">
                    <div class="enroll-btn">
                        <div class="enroll-btn-icon">
                            <i class="fas fa-video"></i>
                        </div>
                        <div class="enroll-btn-text-wrap">
                            <div class="enroll-btn-text start-class">Start training session</div>
                        </div>
                    </div>
                </a>
                {% elif is_enrolled == True %}
                <a href="{% url 'live:twilio-room-participant' view.kwargs.course_id %}">
                    <div class="enroll-btn">
                        <div class="enroll-btn-icon">
                            <i class="fas fa-video"></i>
                        </div>
                        <div class="enroll-btn-text-wrap">
                            <div class="enroll-btn-text">Join Class</div>
                        </div>
                    </div>
                </a>
                {% else %}
                <a href="{% url 'checkout:payment-details' view.kwargs.course_id %}">
                    <div class="enroll-btn">
                        <div class="enroll-btn-icon">
                            <i class="fas fa-video"></i>
                        </div>
                        <div class="enroll-btn-text-wrap">
                            <div>
                               <div class="cost">
                                    <span>Buy for</span>
                                    <span>{{ session.price.incl_tax|currency:session.price.currency }}</span>
                                </div>
                            <div class="enroll-btn-text">Enroll in this course</div>
                        </div>
                        </div>
                    </div>
                </a>
                {% endif %}

                {% else %}

                <div class="enroll-btn open-login-modal" data-url="{% url 'customer:login-modal' view.kwargs.course_id %}" data-toggle="modal" data-target="#login-modal">
                    <div class="enroll-btn-icon">
                        <i class="fas fa-video"></i>
                    </div>
                    <div class="enroll-btn-text-wrap">
                        <div class="enroll-btn-text">Enroll in this course for 
                            <span class="price">{{session.price.incl_tax|currency:session.price.currency}}</span>
                        </div>
                    </div>
                </div>
                {% endif %}


            </div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="p-3">
                <table class="course-list">
                    <tbody>
                        {% for module in course.coursemodules.all %}
                        <tr>
                            <td class="course-list-count">{{ forloop.counter }}</td>
                            <td class="course-list-title">{{module.name}}</td>
                            <td class="course-list-duration">{{module.duration}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td></td>
                            <td>No modules yet.</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<div id="authentication-modal" class="modal fade" tabindex="-1" role="dialog">



</div>
{% endblock content %}