{% extends "catalogue/course_detail_layout.html" %}
{% load static widget_tweaks %}
{% load currency_filters %}
{% load purchase_info_tags %}

{% block content %}
{% purchase_info_for_product request course as session %}
<div class="container">
    <div class="row course-detail">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 no-padding">
            <div class="p-3">
                <div class="box-part text-left">
                    <div class="title title-details">
                        <h3>{{course.title}}</h3>
                        <div class="course-detail-title-info d-flex col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                            <span class="d-flex">
                                <i class="far fa-credit-card"></i>
                                <p class="margin-right">Tuition:</p><p>{{ session.price.incl_tax|currency:session.price.currency }}</p>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex ">
                        <div class="course-detail-info d-flex col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                            <span class=" d-flex">
                                <p class="create-header">Instructor:</i>
                                <p>{{course.user.first_name}} {{course.user.last_name}}</p>
                            </span>
                            {% if request.user.is_authenticated and request.user.userrole.name == "Instructor" %}
                            <a class="btn btn-secondary" href="{% url 'instructor:live-course-update-form' view.kwargs.course_id %}" role="button">Edit Course</a>
                            {% else %}
                            <a class="hide btn btn-secondary" href="{% url 'instructor:live-course-update-form' view.kwargs.course_id %}" role="button">Edit Course</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="description description-detail">
                    <h3 class="subheading hide">Course Description</h3>
                    <p>{{course.description|safe}} </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding">
            <div>
                <div class="checkout-section">
                    {% if request.user.is_authenticated == True %}
                    {% if request.user == course.user %}
                    <a href="{% url 'instructor:start-session' view.kwargs.course_id %}">
                        <div class="purchase-btn">
                            <div class="purchase-btn-icon">
                                <div class="text-center">
                                    <span>Join Class</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% elif is_enrolled == True %}
                    <a href="{% url 'live:twilio-room-participant' view.kwargs.course_id %}">
                        <div class="purchase-btn">
                            <div class="purchase-btn-icon">
                                <div class="text-center">
                                    <span>Join Class</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% else %}
                    <a href="{% url 'checkout:payment-details' view.kwargs.course_id %}">
                        <div class="enroll-btn">
                            <div class="enroll-btn-icon">
                                <i class="fas fa-video"></i>
                            </div>
                            <div class="enroll-btn-text-wrap">
                                <div>
                                   <div class="cost">
                                        <span>Buy for</span>
                                        <span>{{ session.price.incl_tax|currency:session.price.currency }}</span>
                                    </div>
                                <div class="enroll-btn-text">Enroll in this course</div>
                            </div>
                            </div>
                        </div>
                    </a>
                    {% endif %}

                    {% else %}

                    <div class="purchase-btn open-login-modal" data-url="{% url 'customer:login-modal' view.kwargs.course_id %}" data-toggle="modal" data-target="#authentication-modal">
                        <div class="purchase-btn-icon">
                            <div class="text-center">
                               <span>Buy Now</span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="checkout-section">
                    <div class="course-detail-section course-detail-title-info col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                      <article>
                        <div class="d-flex header-section">
                          <i class="far fa-calendar-alt"></i>
                          <span>Start Date</span>
                        </div>
                        <div class="d-flex side-content">
                          {% if course.product_class.name == "Live" %}  
                          <p>{{course.start_date}}</p>
                          {% else %}
                          <p>Now</p>
                          {% endif %}
                        </div>
                      </article>
                      <article>
                        <div class="d-flex header-section">
                          <i class="fas fa-stopwatch"></i>
                          <span>Class Time</span>
                        </div>
                        <div class="d-flex side-content">   
                          {% if course.product_class.name == "Live" %}  
                          <p>{{course.start_time}}</p><span class="to">to</span><p>{{course.end_time}}</p>
                          {% else %}
                          <p>Now</p>
                          {% endif %}                          
                        </div>
                      </article>
                      <article>
                        <div class="d-flex header-section">
                          <i class="far fa-clock"></i>
                          <span>Credit Hours</span>
                        </div>
                        <div class="side-content d-flex">
                          <p class="margin-right">{{course.credit_hour}}</p></span><p>CPD Hours</p >
                        </div>
                      </article>
                      <article>
                        <div class="d-flex header-section">
                          <i class="fas fa-school"></i>
                          <span>Provider</span>
                        </div>
                        <div class="side-content">
                          <p>{{course.provider}}</p>
                        </div>
                      </article>
                    </div>
                </div>    
            </div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 no-padding">
            <div class="p-3">
                <table class="course-list">
                    <tbody>
                        {% for module in course.coursemodules.all %}
                        <tr>
                            <td class="course-list-count">{{ forloop.counter }}</td>
                            <td class="course-list-title">{{module.name}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td></td>
                            <td>No modules yet.</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<div id="authentication-modal" class="modal fade" tabindex="-1" role="dialog">
{% include "customer/login_modal.html" with form=login_form %}
</div>
{% endblock content %}