{% extends "base.html" %}

{% block content %}
    <main id="create-form">
      <div class="progressbar-container">
        <ul class="progressbar d-flex">
          <li >Create course</li>
          <li>Create modules</li>
          <li>Publish course</li> 
        </ul>
      </div>
      <div class="container no-padding">
        <div class="row">         
          <form action="" method="post" class="text-truncate">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="cc-header">Create your course</div>
            <div class="text">
              <p class="line-clamp overflow-visible">Fill in all the fields below to create a course. and you're finshed, click the submit button to make your course available for enrollment by your participants.</p>
            </div>
            <div class="form-group">
            {{ form.title.errors }}
                       <div class="col">{% include 'partials/form_field.html' with field=form.title %}</div>
            </div>
            <div class="form-group">
            {{ form.description.errors }}
                     <div class="col">{% include 'partials/form_field.html' with field=form.description %}</div>
            </div>

            <div class="form-group">
            {{ form.description.errors }}
              <div class="col d-flex">{% include 'partials/form_field.html' with field=form.start_date %}</div>
            </div>            

            <div class="form-group d-flex">
              <div class="col-md-4 form-field form-padding-1">
              {{ form.description.errors }}
                <div class="item">{% include 'partials/form_field.html' with field=form.start_time %}</div>
              </div>

              <div class="col-md-4 form-field form-padding-2">
              {{ form.description.errors }}
                <div class="item">{% include 'partials/form_field.html' with field=form.end_time %}</div>
              </div>

              <div class="col-md-4 form-field form-padding-3">
              {{ form.description.errors }}
                <div class="item">{% include 'partials/form_field.html' with field=form.credit_hour %}</div>
              </div>  
            </div>


            <div class="form-group">
            {{ form.description.errors }}
                     <div class="col">{% include 'partials/form_field.html' with field=form.provider %}</div>
            </div>   

            <div class="form-group">
            {{ form.price.errors }}
                     <div class="col">{% include 'partials/form_field.html' with field=form.price %}</div>
            </div>


          <div class="form-group text-right">
            <button type="submit" class="btn">
              Update Course
            </button>
          </div>

          </form>
        </div>
      </div>
    </main>

{% endblock content %}

{% block extrascripts %}
{{ block.super }}
{% endblock extrascripts %}