{% extends "base.html" %}
{% load static %}


{% block content %}
<div id="my-course-list" class="container">
  
  <div class="container">
    <div class="browse-heading">
      <h2>My Courses</h2>
      <p class="header-message">Below is a list of all the ocurses that you are currently enrolled in</p>
    </div>
  </div>

  <div id="course-list" class="row">
  	{% for object in object_list %}
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 i-pad-width-r i-pad-width-l">
        {% include 'catalogue/partials/product.html' with object=object %}
      </div>
  {% empty %}
      <div class="container adj-container">
        <div>
          <div class="border-top">
            <div class="blank-space d-flex welcome-note">
              <i class="fas fa-exclamation"></i>
              <h3>Welcome to Sosci, your personal course list is currently empty. But you can start adding courses by browsing the <a href="{% url 'catalogue:course-list' %}" class="course-link">course catalogue.</a></h3>
            </div>
          </div>
        </div>
      </div>
  {% endfor %}    
  </div>


   {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock content %}