{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="browse">

  <div class="container">
    <div class="browse-heading">
      <h1>Browse upcoming courses</h1>
    </div>
  </div>

  <div class="container categories">
    <nav class="browse-nav">
      <ul class="d-flex browse-row">
        <li class="browse-item course-nav-link course-nav-title">
          <a href="{% url 'catalogue:live-course-list' %}">
            <div>
              <i class="material-icons">videocam</i>
              <span>Live Classes</span>
            </div>
          </a>
        </li>
        <li class="browse-item course-nav-link course-nav-title">
          <a href="{% url 'catalogue:on-demand-list' %}">
            <div>
              <i class="fas fa-play"></i>
              <span>On Demand Classes</span>  
            </div>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="container no-padding adj-container">

    <div id="course-list" class="row">
      {% for object in object_list %}
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 px-1.5">
        {% include 'catalogue/partials/product.html' with object=object %}

      </div>
      {% empty %}
      <div class="container adj-container">
        <div>
          <div class="border-top">
            <div class="blank-space">
              <h3>No course has been added to this section.</h3>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}    
    </div>


    {% if is_paginated %}
      <div class="pagination">
        <span class="page-links">
          {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
          <span class="page-current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
          {% endif %}
        </span>
      </div>
    {% endif %}
  </div>
</div> 
{% endblock content %}

  <li class="browse-item">
    <a href="{% url 'catalogue:my-created-courses-list' %}" class="course-nav-title course-nav-link">
      <span class="">
        <i class="material-icons">videocam</i>
        <span>Live Classes</span>
      </span>
    </a>
  </li>
  <li class="browse-item">
    <a href="{% url 'catalogue:my-enrolled-courses-list' %}" class="course-nav-title course-nav-link">
      <span class="">
        <i class="material-icons">ondemand_video</i>
        <span>On Demand Classes</span>
      </span>
    </a>
  </li>